
html {
    background: cornsilk;
    display: flex;
    align-items: center;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #ff6969;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 100;
    margin-bottom: 0;
}

h1 span {
    font-weight: 400;
}

.made-by {
    font-style: italic;
}

.synth-controls {
    border-top: 2px solid #ff6969;
    display: flex;
    padding: 95px 10px 20px;
    justify-content: space-around;
}

.waveform {
    width: 120px;
}

.waveform button {
    width: 100%;
}

.waveform .display {
    font-family: 'Roboto Mono', monospace;
    margin-top: 1em;
}

button {
    outline: none;
    background: #ffddc7;
    width: 45px;
    height: 30px;
    border: none;
    text-transform: uppercase;
    margin: 0;
    color: #ffc5b3;
}

button.active {
    background: #ffdcc6;
    color: #ff928a;
    font-weight: 600;
}

p {
    margin-top: 0;
    color: #ff928a;
    text-align: center;
    font-weight: 400;
}

.volume {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
  }
  
  .volume::-webkit-slider-runnable-track {
    background-color: #ffdcc6;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
  }
  
  .volume::-moz-range-track {
    background-color: #ffdcc6;
    height: 6px;
    border-radius: 3px;
    border: none;
  }
  
  .volume::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
  }
  
  .volume::-ms-fill-lower { 
    background-color: #ffdcc6;
    border-radius: 3px;
  }
  
  .volume::-ms-fill-upper { 
    background-color: #ffdcc6;
    border-radius: 3px;
  }
  
  .volume::-ms-tooltip { display: none; /* display and visibility only */ }
  
  .volume::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #ff928a;
  }
  
  .volume:active::-moz-range-thumb {
    outline: none;
  }
  
  .volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #ff928a;
    height: 18px;
    width: 18px;
    margin-top: -7px;
  }
  
  .volume[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #ffdcc6;
  }
  
  .volume:active::-webkit-slider-thumb {
    outline: none;
  }
  
  .volume::-ms-thumb { 
    border-radius: 100%;
    background-color: #ff928a;
    height: 18px;
    width: 18px; 
    border: none;
  }
  
  .volume:active::-ms-thumb {
    border: none;
  }
  
  output {
    border: 1px solid #ffdcc6;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
  }

  .keys {
      display: flex;
      margin-top: 45px;
      justify-content: space-evenly;
  }

  .key {
    border-left: 1px solid #ff928a;
    height: 200px;
    flex-grow: 1;
    background: none;
  }

  .key:last-child {
    border-right: 1px solid #ff928a;
  }

  .black {
    background: #ffdcc6;
    color: cornsilk;
  }

  .octaves {
    margin-top: 30px;
  }

  .octaves button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: cornsilk;
  }

  .octaves button.active {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #ff928a;
  }

